## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
x=15
print(x)

15

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
nombre="Ezequiel"

5) Mostrar el tipo de dato de la variable crada en el punto 4

In [6]:
print(type(nombre))

<class 'str'>

6) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi=3.1416

7) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
a=True
b=True
a==b

True

8) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

9) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
c = 2 + 3.5
print(c)

5.5

9) Realizar una operación de suma de números complejos

In [14]:
a = 6.3 + 4.2

10) Realizar una operación de multiplicación

In [15]:
34*3

102

11) Mostrar el resultado de elevar 2 a la octava potencia

In [16]:
2**8

256

12) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [17]:
resultado = 27/4
print(resultado)

6.75

13) De la división anterior solamente mostrar la parte entera

In [18]:
print(int(resultado))

6

14) De la división de 27 entre 4 mostrar solamente el resto

In [19]:
print(27%4)

3

15) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 13 y 14. Obtener 27 como resultado

In [20]:
6*4+3

27

16) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [21]:
hola="hola "
como_estas="como estas?"
print(hola + como_estas)

hola como estas?

17) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [22]:
"2" == 2

False

18) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 17 resulte verdadera

In [23]:
int("2") == 2

True

19) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [30]:
a = float('3.8')#da error porque la coma lo hacia un string, en cambio al cambiar por un punto pasa su calor a float
print(a)

3.8

20) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [31]:
y = 3
y-= 2
print(y)

1

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [32]:
2+'2' #uno es un int y el otro u string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
int(2) + int('2')

4

22) Realizar una operación válida entre valores de tipo entero y string

In [39]:
var1 = "primer string "
var1*3

'primer string primer string primer string '